{% extends "managermaster.html" %}
{% block title %}自己淘宝{% endblock %}
{% block content %}
    <h3>自己淘宝，得佣金！</h3>
    <ul>
        <li>第一步：自己逛淘宝</li>
        <p>看好宝贝，不要点击购买按钮。更不要付款。</p>
        <li>第二步：使用搜索功能</li>
        <p>如果你要购买一件宝贝，请使用<a href="/queryitem">宝贝查询</a>功能搜索你想要购买的宝贝。
        如果是要购买同一店铺的多个宝贝，请先将宝贝都添加到购物车，然后使用<a href="/queryshop">店铺查询</a>功能搜索你逛的店铺。</p>
        <li>第三步：点击搜索结果进入淘宝网站</li>
        <p>点击搜索结果进入对应的淘宝宝贝页面或者店铺页面。请仔细核对搜索的结果是否是你要购买的宝贝或者店铺。</p>
        <li>第四步：确定购买</li>
        <p>购买宝贝，或者去给购物车上对应店铺的宝贝付款。<font color="red">第三步和第四步请连贯自然的操作，中间不要关闭浏览器等。</font></p>
        <li>佣金到手</li>
        <p>等你的宝贝到手后，可以使用<a href="/report">我的成交报表</a>查询成交记录和佣金。</p>
        <li><strong>特别声明</strong></li>
        <p>本站所有商品包括查询结果都是淘宝官方数据抓取，最后点击链接都会直接转向淘宝官方网站，走正常的淘宝成交和后续流程。
        本站不参与任何中间交易过程，买卖双方过程与正常淘宝没有任何区别，我们是为“把买家的目光吸引到商品页面”付费。</p>
    </ul>
    <h3><a href="/manager">返回</a></h3>
{% endblock %}
