{% extends "managermaster.html" %}
{% block title %}别人淘宝{% endblock %}
{% block content %}
    <h3>别人淘宝，你得佣金！</h3>
    <ul>
        <li>第一步：选择商品</li>
        <p>你可以选择<a href="/">本站首页</a>上陈列的任意商品，也可以通过<a href="/queryitem">宝贝查询</a>功能搜索商品。
        上面有大致的佣金比例和累计成交量等信息。</p>
        <li>第二步：复制链接地址</li>
        <p>本站首页上的商品，请在宝贝图片或者宝贝名称上点击鼠标右键，选择复制链接。
        使用查询功能搜索到的宝贝请直接在搜索结果的链接上点击鼠标右键，然后选择复制连接。
        <font color="red">注意：你点击链接进入淘宝网站后，再在浏览器的地址栏上复制商品的地址是没有作用的。</font></p>
        <li>第三步：将链接地址发送给别人</li>
        <p>将刚才复制的链接地址粘贴到不管是你的QQ这样的聊天工具，还是空间，还是微博，总之将这个链接地址发送给别人。</p>
        <li>佣金到手</li>
        <p>别人通过此链接进入淘宝网并成交后，可以就使用<a href="/report">我的成交报表</a>查询成交记录和佣金。</p>
        <li><strong>特别声明</strong></li>
        <p>本站所有商品包括查询结果都是淘宝官方数据抓取，最后点击链接都会直接转向淘宝官方网站，走正常的淘宝成交和后续流程。
        本站不参与任何中间交易过程，买卖双方过程与正常淘宝没有任何区别，我们是为“把买家的目光吸引到商品页面”付费。</p>
    </ul>
    <h3><a href="/manager">返回</a></h3>
{% endblock %}
