{% extends "managermaster.html" %}
{% block title %}成交报表说明{% endblock %}
{% block content %}
    <h3>成交报表说明</h3>
    <ul>
        <li>佣金比例</li>
        <p>通过首页或者查询功能看到的商品佣金比例与实际比例可能有不同！因为淘宝卖家会根据自己商品的实际情况随时调整设置佣金比例。</p>
        <li>成交记录</li>
        <p>只有正常的成交才会有记录。没有拍下，没有付款，付款后没有确认以及后续退货维权后的交易都不会记录在报表中。</p>
        <li>实时记录</li>
        <p>报表的记录不是实时的，就是说成交后并不能立即在成交报表中看到记录。系统会在次日统一更新，成交报表能查看昨天以及以前的所有成交记录。</p>
        <li>佣金计算</li>
        <p>佣金等于佣金比例乘以商品的实际成交价，不是商品的标价，卖家是可以修改商品的成交价的。</p>
        <li>佣金结算</li>
        <p>佣金根据比例计算后，到结算还有几步，其一是淘宝官方会扣留一部分作为技术服务费，其二是本站保留一部分作为网站、服务器等技术维护费，剩余的是和你分成的金额，不同的账户等级分成比例不同。</p>
        <li>结算时间</li>
        <p>结算时间为每月底（25号以后）结算上个月的成交。因为淘宝是20号结算，淘宝延迟结算时间主要防止退货维权等情况。</p>
        <li>结算方式</li>
        <p>现金</p>
    </ul>
    <h3><a href="/manager">返回</a></h3>
{% endblock %}
